# Retail game data (not redistributable). Keep *.ZC / README tracked.
Maps/
Textures/
Sounds/
Music/
SystemLocalized/
System/*.u
System/*.ini
System/*.int
data/

# Per-machine runtime
UT99LOG.TXT
*.SAV
